#keyboard {
	position: absolute;
	background: #e6e6e6;
	right: 0px;
	left: 0px;
}

.keybutton {
	width: 25px;
	height: 25px;
	margin: 5px;
	z-index: 3;
	font-size: 20px;
	line-height: 25px;
}

#del {
	position: absolute;
	z-index: 4;
	right: 0px;
	top: 0px;
	background: #e6e6fa;
	border: 0px;
	font-size: 25px;
	 border: 1px double black;
}

#ad {
	position: absolute;
	z-index: 4;
	right: 0px;
	bottom: 0px;
	background: #e6e6fa;
	border: 0px;
	font-size: 30px;
	 border: 1px double black;
}